.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin-top: 100px;
}

th,
td {
    border: 1px solid #DBDBDB;
    padding-left: 20px;
}